<app-header
    title="Update Seller"
    backAction="custom"
    [showBackButton]="true"
    (backClicked)="onCancel()"
>
</app-header>

<ion-content>
    <div *ngIf="loading" class="ion-padding ion-text-center">Loading...</div>

    <app-sellers
        *ngIf="!loading && seller"
        [mode]="'update'"
        [formData]="seller"
        [serverValidationErrors]="serverValidationErrors"
        (formSubmit)="onSubmit($event)"
        (formClosed)="onCancel()"
    >
    </app-sellers>
</ion-content>
