ion-content {
  height: 300px;
}

ion-header ion-toolbar {
  background-color: #004d99 !important;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

ion-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
}

ion-icon {
  color: #ffffff;
}
