<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-header">
    <h2 class="form-header__title">Production Shift</h2>
    <p class="form-header__subtitle">Fill the details below</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="form-section">
          <h3 class="form-section__title">References</h3>
          <p class="form-section__subtitle">Select related order, product, and machine</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('orderId')">
          <ion-input
            label="Order (Optional)"
            labelPlacement="floating"
            [value]="getLookupLabel('orderId')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('productId')">
          <ion-input
            label="Product *"
            labelPlacement="floating"
            [value]="getLookupLabel('productId')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('machineId')">
          <ion-input
            label="Machine *"
            labelPlacement="floating"
            [value]="getLookupLabel('machineId')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="form-section">
          <h3 class="form-section__title">Schedule</h3>
          <p class="form-section__subtitle">Set shift timing and type</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item fill="outline">
          <ion-input formControlName="shiftStartDate" type="datetime-local" label="Start Date *" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item fill="outline">
          <ion-input formControlName="shiftEndDate" type="datetime-local" label="End Date *" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item fill="outline">
          <ion-select formControlName="entryType" label="Entry Type *" labelPlacement="floating">
            <ion-select-option *ngFor="let type of entryTypes" [value]="type.value">{{type.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isShiftTypeRequired">
      <ion-col size="12">
        <ion-item fill="outline">
          <ion-select formControlName="shiftType" label="Shift Type *" labelPlacement="floating">
            <ion-select-option *ngFor="let type of shiftTypes" [value]="type.value">{{type.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isShiftHoursRequired">
      <ion-col size="12">
        <ion-item fill="outline">
          <ion-select formControlName="shiftHours" label="Shift Hours *" labelPlacement="floating">
            <ion-select-option *ngFor="let hours of shiftHoursOptions" [value]="hours.value">{{hours.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="form-section">
          <h3 class="form-section__title">Team</h3>
          <p class="form-section__subtitle">Assign operators and supervisor</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('operator1')">
          <ion-input
            label="Operator 1 *"
            labelPlacement="floating"
            [value]="getSelectionLabel('operator1')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('operator2')">
          <ion-input
            label="Operator 2"
            labelPlacement="floating"
            [value]="getSelectionLabel('operator2')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('operator3')">
          <ion-input
            label="Operator 3"
            labelPlacement="floating"
            [value]="getSelectionLabel('operator3')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item class="lookup-item" fill="outline" button (click)="openLookupModal('supervisor')">
          <ion-input
            label="Supervisor *"
            labelPlacement="floating"
            [value]="getSelectionLabel('supervisor')"
            inputmode="none"
            readonly>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="form-section">
          <h3 class="form-section__title">Counts</h3>
          <p class="form-section__subtitle">Opening, closing, and output values</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item fill="outline">
          <ion-input formControlName="openingCount" type="number" label="Opening Count *" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item fill="outline">
          <ion-input formControlName="closingCount" type="number" label="Closing Count *" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-item fill="outline">
          <ion-input formControlName="production" type="number" label="Production *" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-item fill="outline">
          <ion-input formControlName="rejection" type="number" label="Rejection *" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-item fill="outline">
          <ion-input formControlName="netProduction" type="number" label="Net Production" labelPlacement="floating" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-item fill="outline">
          <ion-select formControlName="incentive" label="Incentive *" labelPlacement="floating">
            <ion-select-option value="Y">Yes</ion-select-option>
            <ion-select-option value="N">No</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-item fill="outline">
          <ion-input formControlName="less80Reason" label="Less 80% Reason" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom action-row" *ngIf="!readonly">
      <ion-col size="6">
        <ion-button expand="block" type="submit" color="primary" [disabled]="form.invalid">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          Submit
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" type="button" color="medium" fill="outline" (click)="onCancel()">
          <ion-icon name="close-circle-outline" slot="start"></ion-icon>
          Cancel
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
