ion-header {
  ion-toolbar {
    --background: var(--app-primary-fade);
    --min-height: 56px;
    --padding-top: 0;
    --padding-bottom: 0;
    --border-width: 0;
    --border-style: none;
    --border-color: transparent;
  }

  ion-title {
    font-weight: 600;
    font-size: 18px;
    color: var(--ion-text-color);
  }
}
