<app-header
  title="Change Password"
  backAction="back"
  [showBackButton]="true">
</app-header>

<ion-content>
  <ion-card class="sme-form-card ion-no-margin">
    <ion-card-header>
      <ion-card-title>Update Password</ion-card-title>
      <ion-card-subtitle>Please fill all required information</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item fill="outline" class="ion-margin-bottom">
                <ion-input
                  labelPlacement="floating"
                  label="Current Password *"
                  name="currentPassword"
                  type="password"
                  [(ngModel)]="currentPassword"
                  [disabled]="isSubmitting"
                  required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item fill="outline" class="ion-margin-bottom">
                <ion-input
                  labelPlacement="floating"
                  label="New Password *"
                  name="newPassword"
                  type="password"
                  [(ngModel)]="newPassword"
                  [disabled]="isSubmitting"
                  required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item fill="outline" class="ion-margin-bottom">
                <ion-input
                  labelPlacement="floating"
                  label="Confirm New Password *"
                  name="confirmPassword"
                  type="password"
                  [(ngModel)]="confirmPassword"
                  [disabled]="isSubmitting"
                  required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin-top ion-margin-bottom action-row">
            <ion-col size="6">
              <ion-button
                expand="block"
                type="submit"
                color="primary"
                [disabled]="!changePasswordForm.valid || isSubmitting">
                <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
                {{ isSubmitting ? 'Updating...' : 'Update' }}
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button
                expand="block"
                type="button"
                color="medium"
                fill="outline"
                (click)="goBack()">
                <ion-icon name="close-circle-outline" slot="start"></ion-icon>
                Cancel
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
