// html, body, ion-app, ion-page {
//   height: 100%;
//   min-height: 100%;
// }

// ion-content {
//     height: 300px;
// }

ion-header ion-toolbar {
  --background: var(--app-primary-fade);
  --min-height: 56px;
  --padding-top: 0;
  --padding-bottom: 0;
  --border-width: 0;
  --border-style: none;
  --border-color: transparent;
}

ion-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--ion-text-color);
}

ion-icon {
  color: var(--ion-text-color);
}
