<ng-container *ngIf="!useModal">
  <ng-container *ngIf="hasFormBinding" [formGroup]="formGroup">
    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-input
        type="date"
        [formControlName]="controlName"
        [label]="label"
        label-placement="floating"
        [readonly]="readonly"
        [min]="min"
        [max]="max">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="showError">
      <small>{{ errorText }}</small>
    </ion-text>
  </ng-container>
</ng-container>

<ng-container *ngIf="useModal">
  <ion-item fill="outline" class="ion-margin-bottom" [id]="resolvedTriggerId">
    <ion-input
      readonly
      [value]="displayText"
      [label]="label"
      label-placement="floating"
      [placeholder]="placeholder">
    </ion-input>
    <ion-modal
      [trigger]="resolvedTriggerId"
      [keepContentsMounted]="true"
      [cssClass]="modalCssClass">
      <ng-template>
        <ion-content>
          <ion-datetime
            [presentation]="presentation"
            [value]="currentValue"
            [showDefaultButtons]="showButtons"
            [disabled]="readonly"
            [min]="min"
            [max]="max"
            (ionChange)="onDateChange($event)">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ng-container>
