<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar
      placeholder="Search..."
      [value]="searchTerm"
      (ionInput)="onSearchChange($event.detail.value || '')">
    </ion-searchbar>
  </ion-item>

  <ion-list>
    <ion-item button *ngIf="allowClear" (click)="clearSelection()">
      <ion-label>None</ion-label>
    </ion-item>
    <ion-item
      button
      *ngFor="let item of items"
      (click)="selectItem(item)">
      <ion-label>{{ item.label }}</ion-label>
      <ion-icon *ngIf="isSelected(item)" name="checkmark" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item lines="none" *ngIf="loading">
    <ion-label>Loading...</ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="!loading && !items.length">
    <ion-label>No results</ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="errorMessage">
    <ion-label color="danger">{{ errorMessage }}</ion-label>
  </ion-item>

  <ion-infinite-scroll
    (ionInfinite)="loadMore($event)"
    [disabled]="loading || page >= totalPages">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
