<ion-content>
  <ion-card class="sme-form-card ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        {{
          mode === 'create'
            ? 'User Details'
            : mode === 'update'
            ? 'Edit User Details'
            : 'User Details'
        }}
      </ion-card-title>
      <ion-card-subtitle *ngIf="mode !== 'read'">
        Please fill all required information
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <ion-grid>
        <!-- Username -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="Username *"
                name="username"
                [(ngModel)]="model.username"
                [readonly]="mode === 'read'"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Password (optional to show in read mode, but kept editable only in create/update) -->
        <ion-row *ngIf="mode !== 'read'">
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="Password *"
                name="password"
                type="password"
                [(ngModel)]="model.password"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- User Type -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="Full Name *"
                name="name"
                [(ngModel)]="model.name"
                [readonly]="mode === 'read'"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- First Name -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="First Name *"
                name="firstName"
                [(ngModel)]="model.firstName"
                [readonly]="mode === 'read'"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Last Name -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="Last Name *"
                name="lastName"
                [(ngModel)]="model.lastName"
                [readonly]="mode === 'read'"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Email -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="Email *"
                name="email"
                type="email"
                [(ngModel)]="model.email"
                [readonly]="mode === 'read'"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Mobile -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input
                labelPlacement="floating"
                label="Mobile Number *"
                name="mobile"
                type="tel"
                [(ngModel)]="model.mobile"
                [readonly]="mode === 'read'"
                required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Address -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-textarea
                labelPlacement="floating"
                label="Address *"
                name="address"
                [(ngModel)]="model.address"
                [readonly]="mode === 'read'"
                rows="3"
                required>
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- CREATE / UPDATE MODE -->
        <ion-row class="ion-margin-top ion-margin-bottom action-row" *ngIf="mode !== 'read'">
          <ion-col size="6">
            <ion-button
              expand="block"
              type="submit"
              color="primary"
              [disabled]="!userForm.valid">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              {{ mode === 'create' ? 'Submit' : 'Update' }}
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="medium" fill="outline" expand="block" (click)="goBack()">
              <ion-icon name="close-circle-outline" slot="start"></ion-icon>
              Cancel
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- READ MODE: Only Cancel Button -->
        <ion-row class="ion-margin-top ion-margin-bottom action-row" *ngIf="mode === 'read'">
          <ion-col size="12">
            <ion-button color="medium" fill="outline" expand="block" (click)="goBack()">
              <ion-icon name="close-circle-outline" slot="start"></ion-icon>
              Cancel
            </ion-button>
          </ion-col>
        </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
