<ion-app>
  <ion-menu *ngIf="isLoggedIn" side="end" menuId="rightMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-item button detail="false" lines="none" class="profile-item" (click)="navigateTo('/tabs/profile-masters')">
          <ion-avatar>
            <img [src]="user?.photoUrl || 'assets/images/default-avatar.jpg'" alt="Profile" />
          </ion-avatar>
          <ion-label>
            <h3>{{user?.name || 'User'}}</h3>
            <p class="ion-text-wrap">{{user?.username || 'N/A'}}</p>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline" class="profile-chevron"></ion-icon>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="menu-container">
        <ion-list class="menu-list">
          <ion-item button class="menu-item" (click)="navigateTo('/tabs/profile-masters')">
            <i slot="start" class="fa fa-th-large menu-icon" aria-hidden="true"></i>
            <span class="menu-label">Profile & Masters</span>
          </ion-item>
        </ion-list>
        <div class="menu-spacer"></div>
        <ion-button color="primary" expand="block" class="menu-logout-button" (click)="logout()">
          <ion-icon slot="start" name="log-out" class="logout"></ion-icon>
          Logout
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
