<ion-card class="sme-form-card ion-no-margin">
  <ion-card-header>
    <ion-card-title>
      {{ mode === 'create' ? 'Daily Shift Entry' : mode === 'update' ? 'Edit Shift Entry' : 'Shift Entry Details' }}
    </ion-card-title>
    <ion-card-subtitle *ngIf="mode !== 'read'">Please fill all required information</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
      <ion-grid>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="machine" label="Choose Machine *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let machine of machines" [value]="machine">{{machine}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Shift Date -->
        <ion-row>
          <ion-col size="12">
            <app-date-field
              [useModal]="true"
              triggerId="shift-date-picker"
              label="Shift Date *"
              [formGroup]="shiftForm"
              controlName="shiftDate"
              modalCssClass="shift-datetime-modal"
              [readonly]="mode === 'read'">
            </app-date-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="workType" label="Work Type *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let type of workTypes" [value]="type">{{type}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="shiftType" label="Shift Type" label-placement="floating" [disabled]="isShiftTypeDisabled || mode === 'read'">
                <ion-select-option *ngFor="let type of shiftTypes" [value]="type.value">{{type.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="shiftHours" label="Shift Hours" label-placement="floating" [disabled]="isShiftHoursDisabled || mode === 'read'">
                <ion-select-option *ngFor="let hours of shiftHours" [value]="hours">{{hours}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Shift Starting Time -->
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom" id="shiftTimePicker">
              <ion-input 
                readonly
                [value]="getFormattedTime()"
                label="Shift Starting Time *" 
                label-placement="floating">
              </ion-input>
              <ion-modal 
                trigger="shiftTimePicker"
                [keepContentsMounted]="true"
                cssClass="shift-datetime-modal">
                <ng-template>
                  <ion-content>
                    <ion-datetime
                      presentation="time"
                      hour-cycle="h12"
                      show-default-buttons="true"
                      [value]="shiftForm.get('shiftStartTime')?.value"
                      (ionChange)="onShiftTimeChange($event)"
                    >
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="operator1" label="Operator 1 *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let user of users" [value]="user.value">{{user.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="operator2" label="Operator 2" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let user of users" [value]="user.value">{{user.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="operator3" label="Operator 3" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let user of users" [value]="user.value">{{user.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="supervisor" label="Supervisor *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let user of users" [value]="user.value">{{user.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Submit and Cancel Buttons -->
        <ion-row *ngIf="mode !== 'read'">
          <ion-col size="12">
            <ion-button expand="block" type="submit" color="primary" size="large" class="ion-margin-top" [disabled]="isFormInvalid">
              {{ mode === 'create' ? 'Submit Entry' : 'Update Entry' }}
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" type="button" color="medium" size="large" class="ion-margin-top" (click)="goBack()">
              Cancel
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>

<app-footer></app-footer>
