<ion-card class="sme-form-card ion-no-margin">
  <ion-card-header>
    <ion-card-title>
      {{ mode === 'create' ? 'Create Production Shift' : mode === 'update' ? 'Edit Production Shift' : 'Production Shift Details' }}
    </ion-card-title>
    <ion-card-subtitle *ngIf="mode !== 'read'">Fill in all required fields</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
      <ion-grid>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="orderId" label="Order ID *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="productId" label="Product ID *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="machineId" label="Machine ID *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="shiftStartDate" type="datetime-local" label="Shift Start Date *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="shiftEndDate" type="datetime-local" label="Shift End Date *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="entryType" label="Entry Type *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let type of entryTypes" [value]="type.value">{{type.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isShiftTypeRequired">
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="shiftType" label="Shift Type *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let type of shiftTypes" [value]="type.value">{{type.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isShiftHoursRequired">
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="shiftHours" label="Shift Hours *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option *ngFor="let hours of shiftHoursOptions" [value]="hours.value">{{hours.label}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="operator1" type="number" label="Operator 1 *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="operator2" type="number" label="Operator 2" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="operator3" type="number" label="Operator 3" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="supervisor" type="number" label="Supervisor *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="openingCount" type="number" label="Opening Count *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="closingCount" type="number" label="Closing Count *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="production" type="number" label="Production *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="rejection" type="number" label="Rejection *" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="netProduction" type="number" label="Net Production *" label-placement="floating" readonly></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-select formControlName="incentive" label="Incentive *" label-placement="floating" [disabled]="mode === 'read'">
                <ion-select-option value="Y">Yes</ion-select-option>
                <ion-select-option value="N">No</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item fill="outline" class="ion-margin-bottom">
              <ion-input formControlName="less80Reason" label="Less 80% Reason" label-placement="floating" [readonly]="mode === 'read'"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="mode !== 'read'">
          <ion-col size="12">
            <ion-button expand="block" type="submit" color="primary" size="large" class="ion-margin-top" [disabled]="shiftForm.invalid">
              {{ mode === 'create' ? 'Create Shift' : 'Update Shift' }}
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" type="button" color="medium" size="large" (click)="goBack()">
              Cancel
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="mode === 'read'">
          <ion-col size="12">
            <ion-button expand="block" type="button" color="medium" size="large" (click)="goBack()">
              Close
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>

<app-footer></app-footer>
